PORT=8000
MONGO_URI=mongodb://127.0.0.1:27017/vibesta
SECRET_KEY=your_jwt_secret_here
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
KEEP_ALIVE_INTERVAL_SECONDS=1500
KEEP_ALIVE_URLS=https://vibesta.onrender.com/login,https://streamtalk.onrender.com
COOKIE_SAMESITE=none
COOKIE_SECURE=true
